.location-form {
  display: flex;
  font-family: "Montserrat", sans-serif;
  margin: 5px 0;
}

/* Style The Dropdown Button */
.dropdown-btn {
  background-color: white;
  color: #00a78d;
  padding: 8px;
  font-size: 16px;
  /* border: 1px solid #555;
  box-shadow: 1px 1px 4px #cecece; */
  border: 2px solid #00a78d;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 2px #555;
  border-radius: 2px;
  cursor: pointer;
  width: 15em;
  max-width: 100%;
}

.dropdown-btn:disabled {
  background-color: rgb(172, 172, 172);
  box-shadow: none;
  cursor: not-allowed;
  color: white;
  border: 2px solid rgb(172, 172, 172);
}

.submit:disabled {
  background-color: rgb(172, 172, 172);
  box-shadow: none;
  cursor: not-allowed;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  max-width: 70%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  z-index: 1;
  background-color: white;
}

/* Links inside the dropdown */
.dropdown-content button {
  background-color: rgb(108, 108, 108, 0.1);
  border: none;
  color: #00a78d;
  width: 100%;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  background-color: #ccc;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #00a78d;
}

.submit {
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 6px;
  padding-left: 11px;
  border: none;
  background: none;
  background-color: #00a78d;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #cecece;
  color: white;
  font-size: 1.1rem;
}
