@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f7;
  text-shadow: 0.5px 1px 1px #ccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

/*modals styling*/
.modal {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  background: white;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  /* transition: 1.1s ease-out;
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible; */
}

.modal-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px);
}

.modal.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}

/* navbar styling  */
.navbar-container {
  position: fixed;
  z-index: 10;
}

.navbar-contents {
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% auto 10%;
  background-color: white;
  height: 5rem;
  margin-top: -3px;
  margin-bottom: 10px;
  box-shadow: 10px 0px 8px;
}

.back-link {
  display: flex;
  align-self: center;
  margin: 0 1rem;
}

.back-button {
  background: none;
  color: #00a78d;
  text-decoration: underline;
  border: none;
  font-size: 1.1rem;
}

.back-text {
  align-self: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

.verloop-container {
  max-width: 100%;
  height: 1em;
  display: block;
}

.verloop {
  height: 100%;
  width: 100%;
}

.logo {
  justify-self: center;
  align-self: center;
  max-height: 4rem;
  max-width: 8rem;
}

.spacing-div-navbar-content {
  height: 5rem;
}

/* sidebar styling */
.sidenav {
  height: 50em;
  width: 21em;
  right: 0;
  border-radius: 5px 0 0 5px;
  background-color: white;
  box-shadow: -2px 0px 8px #a7a7a7;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  float: right;
  position: fixed;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 30rem;
  width: 20rem;
}

.price {
  text-align: right;
  padding-right: 1rem;
  margin: 1rem 0;
  font-size: 2rem;
}

.build {
  display: flex;
  align-items: center;
  float: left;
  margin: 0 10px;
  padding: 7px 8px;
  border: none;
  background: none;
  background-color: #1485c8;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #cecece;
  color: white;
  font-size: 1.1rem;
}

.update {
  display: flex;
  align-items: center;
  float: left;
  margin: 0 10px;
  padding: 7px;
  border: none;
  background: none;
  background-color: #fcc72e;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #cecece;
  color: white;
  font-size: 1.1rem;
}

.submit {
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 6px;
  padding-left: 11px;
  border: none;
  background: none;
  background-color: #00a78d;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #cecece;
  color: white;
  font-size: 1.1rem;
}

.aanmelden-link {
  text-decoration: none;
  float: right;
}

/* welcome banner */
.background-rec {
  background-image: linear-gradient(#00a78d, #02ceaf6b);
  height: 20rem;
  width: 100%;
}

.welcome-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: calc(100% - 23em);
  height: 100%;
  color: white;
  text-shadow: 1px 1px 4px #686868;
}

.welcome-line {
  height: 0.5rem;
  width: 4rem;
  border-radius: 5px;
  background-color: #6c6c6c;
}

/* .welcome-image {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.welcome-image img {
  width: auto;
  height: 100%;
  margin-left: -17px;
} */

.welcome-list {
  font-weight: 500;
  text-shadow: 0.5px 1px 2px rgb(129, 129, 129);
}

/* questions & answers */
.questions-container {
  padding: 1rem;
  width: calc(100% - 23em);
}

.question-block {
  border-radius: 5px;
  box-shadow: 1px 2px 2px #a7a7a7;
  background-color: white;
  margin-bottom: 10px;
  padding: 5px;
}

.answer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.checkbox {
  margin-right: 7px;
}

.advanced-options {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  box-shadow: 2px 2px 4px #cecece;
  border-radius: 25px;
  background-color: #00a78d;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.info {
  display: flex;
  align-items: center;
  float: right;
  border: none;
  background: none;
  background-color: #00a78d;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #cecece;
  color: white;
  transition-timing-function: all 1s ease;
}

.info-text {
  color: #00a78d;
  font-weight: 300;
}

/* @media (max-width: 1200px) {
  .welcome-image {
    display: none;
  }
} */
