/* .App {
  text-align: center;
} */

/* navbar styling  */
.navbar-container {
  position: fixed;
  z-index: 10;
}

.navbar-contents {
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% auto 10%;
  background-color: white;
  height: 5rem;
  margin-top: -3px;
  margin-bottom: 10px;
  box-shadow: 10px 0px 8px;
}

.back-button {
  display: flex;
  align-self: center;
  max-height: 2em;
  margin-left: 1rem;
  text-decoration: underline;
  border: none;
  background: none;
  color: green;
  font-size: 1rem;
}

.back-text {
  align-self: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

.verloop-container {
  max-width: 100%;
  height: 1em;
  display: block;
}

.verloop {
  height: 100%;
  width: 100%;
}

.logo {
  justify-self: center;
  align-self: center;
  max-height: 4rem;
  max-width: 8rem;
}

.spacing-div-navbar-content {
  height: 5rem;
}

/* sidebar styling */
.sidenav {
  height: 50em;
  width: 21em;
  right: 0;
  border-radius: 5px 0 0 5px;
  background-color: white;
  box-shadow: -2px 0px 8px #333;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  float: right;
  position: fixed;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 30rem;
  width: 20rem;
}

.price {
  text-align: right;
  padding-right: 1rem;
  font-size: 2rem;
}

/* questions & answers */
.questions-container {
  padding: 1rem;
  width: calc(100% - 23em);
}

.question-block {
  border-radius: 5px;
  box-shadow: 1px 2px 2px #333;
  background-color: white;
  margin: 10px;
  padding: 5px;
}
