.md-margin {
  margin: 16px;
}
@media (min-width: 960px) {
  .md-margin {
    margin: 16px 24px;
  }
}
.md-padding {
  padding: 16px;
}
@media (min-width: 960px) {
  .md-padding {
    padding: 16px 24px;
  }
}
md-button:not([disabled]):hover,
.md-button:not([disabled]):hover,
md-button:not([disabled]).active,
.md-button:not([disabled]).active {
  opacity: 1;
}
md-button:not([disabled]):not(.md-fab):not(.md-raised):hover,
.md-button:not([disabled]):not(.md-fab):not(.md-raised):hover,
md-button:not([disabled]):not(.md-fab):not(.md-raised).active,
.md-button:not([disabled]):not(.md-fab):not(.md-raised).active {
  background-color: #f5f4f1;
}
html.desktop body:not(.pg-disable) md-card.pg-card-hover {
  cursor: pointer;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
html.desktop body:not(.pg-disable) md-card.pg-card-hover:hover {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.04),
    0px 9px 12px 1px rgba(0, 0, 0, 0.025), 0px 3px 16px 2px rgba(0, 0, 0, 0.02);
}
md-tabs {
  display: block;
}
.md-caption,
small {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 20px;
}
.md-button {
  font-weight: 700;
  text-transform: none;
}
.md-scroll-mask,
.md-dialog-container,
.md-panel-outer-wrapper,
md-toast {
  position: fixed;
}
.md-tab {
  font-weight: bold;
  text-transform: none;
}
@media (max-width: 959px) {
  md-toast {
    top: 0;
    pointer-events: none;
  }
  md-toast .md-toast-content {
    pointer-events: auto;
  }
  md-toast.ng-enter .md-toast-content {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  md-toast.ng-leave.ng-leave-active .md-toast-content {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
.md-toast-animating {
  overflow: auto !important;
}
.layout-row > [class^="flex-"] {
  max-height: none;
}
.fa,
.fas,
.far,
.fal,
.fab,
.fad {
  display: inline-table !important;
  line-height: inherit;
}
.pg-a2hs-dialog {
  position: absolute;
  bottom: 32px !important;
}
.pg-a2hs-bottom {
  background-color: #f9f9f7;
}
.pg-a2hs-tap {
  padding-right: 8px;
}
.pg-a2hs-then {
  padding-left: 8px;
  padding-right: 8px;
}
.pg-a2hs-svg {
  display: block;
}
.pg-a2hs-svg-share {
  margin-bottom: 6px;
}
@media (min-width: 960px) {
  .md-button {
    min-height: 50px;
    margin: 6px 8px;
    padding: 0 24px;
    line-height: 50px;
    font-size: 14px;
  }
  .md-button.md-fab {
    width: 56px;
    height: 56px;
    line-height: 56px;
  }
  .md-button.md-fab.md-mini {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
md-input-container.md-input-invalid .pg-help-text {
  display: none !important;
}
md-input-container md-icon.fa-check {
  color: #03dac5;
}
md-input-container md-icon.fa-check::before {
  content: "\f00c" !important;
}
md-input-container md-icon.fa-times {
  color: #bf4119 !important;
}
md-input-container.md-input-background.md-icon-left,
md-input-container.md-input-background.md-icon-right {
  padding-left: 0;
  padding-right: 0;
}
md-input-container.md-input-background.md-icon-left > md-icon,
md-input-container.md-input-background.md-icon-right > md-icon {
  top: 18px;
  margin: 0 32px;
}
md-input-container.md-input-background.md-icon-left > label {
  left: 0;
}
md-input-container.md-input-background.md-icon-left .md-input {
  padding-left: 84px;
}
md-input-container.md-input-background.md-icon-left.md-input-focused .md-input,
md-input-container.md-input-background.md-icon-left
  .md-input.ng-invalid.ng-dirty,
md-input-container.md-input-background.md-icon-left.md-input-resized .md-input {
  padding-left: 83px;
}
md-input-container.md-input-background.md-icon-right .md-input {
  padding-right: 84px;
}
md-input-container.md-input-background.md-icon-right.md-input-focused .md-input,
md-input-container.md-input-background.md-icon-right
  .md-input.ng-invalid.ng-dirty,
md-input-container.md-input-background.md-icon-right.md-input-resized
  .md-input {
  padding-right: 83px;
}
md-input-container.md-input-background .md-input {
  height: auto;
  padding: 16px 32px;
  background: white;
  border-width: 1px;
}
md-input-container.md-input-background.md-input-focused .md-input,
md-input-container.md-input-background .md-input.ng-invalid.ng-dirty,
md-input-container.md-input-background.md-input-resized .md-input {
  padding: 15px 31px;
  border-width: 2px;
}
md-input-container.pg-input-password md-icon {
  cursor: pointer;
}
md-input-container input[type="number"]::-webkit-outer-spin-button,
md-input-container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
md-input-container input[type="number"] {
  -moz-appearance: textfield;
}
md-input-container .pg-input-help {
  color: rgba(0, 0, 0, 0.54);
}
md-input-container.pg-form-no-errors .md-errors-spacer {
  display: none;
}
md-input-container input::-ms-clear,
md-input-container input::-ms-reveal {
  display: none;
}
.md-button.ci-button-normal:not([disabled]):not(.md-fab):not(.md-raised):hover {
  background: transparent;
}
.md-button:hover md-icon.fa-caret-right {
  transform: translateX(5px);
}
.md-button.md-raised:not([disabled]) {
  box-shadow: none;
}
.md-button.md-raised.md-accent,
.md-button.md-raised.ci-color-1,
.md-button.md-raised.ci-color-2,
.md-button.md-raised.ci-color-3,
.md-button.md-raised.ci-color-4,
.md-button.md-raised.ci-color-5 {
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.3);
}
.md-button.md-raised.ci-button-glass {
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.1);
}
.md-button.md-raised.ci-button-glass.ci-button-glass-inverse.ci-button-disabled:hover {
  background: rgba(255, 255, 255, 0.2);
}
.md-button.md-raised.ci-button-glass.ci-button-disabled:hover {
  background: rgba(0, 0, 0, 0.2);
}
.md-button.md-raised:hover:not([disabled]).md-accent {
  background: #d51453;
}
.md-button.md-raised:hover:not([disabled]).md-primary {
  background: #1f1f1f;
}
.md-button.md-raised:hover:not([disabled]).ci-color-1 {
  background: #e0aa08;
}
.md-button.md-raised:hover:not([disabled]).ci-color-2 {
  background: #84a42e;
}
.md-button.md-raised:hover:not([disabled]).ci-color-3 {
  background: #00745e;
}
.md-button.md-raised:hover:not([disabled]).ci-color-4 {
  background: #005e88;
}
.md-button.md-raised:hover:not([disabled]).ci-color-5 {
  background: #43195b;
}
.md-button.md-raised:hover:not([disabled]).ci-button-glass {
  background: rgba(227, 217, 216, 0.5);
}
.md-button.ci-button-hover:hover .ci-button-hover-after {
  border-radius: 10px;
  margin-top: 14px;
  display: block;
  position: absolute;
  background: #000;
  color: #fff;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 12px;
  height: 35px;
  line-height: 35px;
  font-size: 10px;
}
.md-button.ci-button-hover:hover .ci-button-hover-after::before {
  content: "";
  width: 17px;
  height: 7px;
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("./_package/ci/bootstrap/assets/arrow-inverse.svg");
  background-size: 100%;
}
.md-button.md-raised.ci-menu-button {
  width: 52px;
  height: 52px;
  line-height: 46px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translateX(-50%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 2;
  background: white;
  font-size: 20px;
  box-shadow: 0 13px 64px -20px #000;
}
.md-button.md-raised.ci-menu-button:hover {
  background: white !important;
  box-shadow: none !important;
}
.md-button.md-raised.ci-close-button {
  width: 50px;
  height: 50px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  z-index: 2;
  background: white;
  font-size: 20px;
  box-shadow: 0 13px 64px -20px #000;
}
.md-button.md-raised.ci-close-button:hover {
  background: white !important;
  box-shadow: none !important;
}
md-input-container input,
md-input-container textarea {
  border-radius: 10px !important;
  border-width: 1px !important;
  padding: 16px !important;
  color: #1f1f1f !important;
}
@media (max-width: 599px) {
  .md-success,
  .md-error {
    padding: 8px;
  }
}
.md-success .md-toast-content,
.md-error .md-toast-content {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.md-success .md-toast-content {
  background-color: #a3c93c;
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 10px;
}
.md-error .md-toast-content {
  background-color: #e8165a;
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 10px;
}
.pg-slide.ci-slide-breakout {
  overflow: hidden;
}
.ci-intro-slide .ci-style-image-container .ci-style-image,
.ci-events-slide .ci-style-image-container .ci-style-image {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}
@media (min-width: 600px) {
  .ci-intro-slide .ci-style-image-container .ci-style-image,
  .ci-events-slide .ci-style-image-container .ci-style-image {
    max-width: 380px;
    margin-left: auto;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  }
  .ci-intro-slide .ci-style-image-container .ci-style-image::before,
  .ci-events-slide .ci-style-image-container .ci-style-image::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 271.4285714286%;
  }
  .ci-intro-slide .ci-style-image-container .ci-style-image > *,
  .ci-events-slide .ci-style-image-container .ci-style-image > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media (min-width: 960px) {
  .ci-intro-slide .ci-style-image-container .ci-style-image,
  .ci-events-slide .ci-style-image-container .ci-style-image {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  }
  .ci-intro-slide .ci-style-image-container .ci-style-image::before,
  .ci-events-slide .ci-style-image-container .ci-style-image::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 166.6666666667%;
  }
  .ci-intro-slide .ci-style-image-container .ci-style-image > *,
  .ci-events-slide .ci-style-image-container .ci-style-image > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.ci-events-slide .ci-style-image-container .ci-style-image {
  clip-path: polygon(0 7%, 100% 0, 100% 85%, 0 85%);
}
.ci-accordion-content {
  position: relative;
}
.ci-accordion-content:not(.ci-accordion-open)::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #f9f9f7 0%, rgba(249, 249, 247, 0) 40px);
}
.ci-banner {
  position: relative;
  box-shadow: 0 13px 64px -20px rgba(0, 0, 0, 0.1);
}
@media (min-width: 960px) {
  .ci-banner:hover .ci-banner-photo-break {
    transform: translateX(10px) translateY(-10px);
  }
  .ci-banner:hover:after {
    transform: translateX(-5px) translateY(5px);
  }
}
.ci-banner.photo-break::after {
  content: "";
  width: 0;
  height: 0;
  top: -28px;
  right: -28px;
  border-style: solid;
  border-width: 0 388px 198px 0;
  border-color: transparent #0081bb transparent transparent;
  position: absolute;
  z-index: 0;
}
@media (min-width: 960px) {
  .ci-banner.photo-break::after {
    top: -16px;
    right: -16px;
    border-width: 0 531px 304px 0;
  }
}
@media (min-width: 960px) {
  .ci-events:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  }
}
.ci-lang-flag-ov .md-body-2 {
  text-transform: uppercase;
  margin-left: 8px;
}
.app-header .ci-lang-flag-ov .md-body-2 {
  color: #fff;
}
.ci-lang-flag {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid white;
  background-size: 32px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
}
.md-open-menu-container {
  transition: none !important;
  overflow: visible;
  box-shadow: none;
}
.md-open-menu-container md-menu-content {
  min-width: 0 !important;
  border-radius: 10px;
  position: relative;
  overflow: visible;
  transform: translateY(24px);
}
.md-open-menu-container md-menu-content::before {
  content: "";
  width: 34px;
  height: 15px;
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("./_package/ci/bootstrap/assets/arrow.svg");
}
.md-open-menu-container md-menu-content md-menu-item {
  transition: none !important;
}
.md-open-menu-container md-menu-content a {
  text-decoration: none;
  transition: none;
}
.md-open-menu-container md-menu-content .md-body-2 {
  text-transform: uppercase;
  margin-left: 8px;
}
.md-open-menu-container md-menu-content .ci-lang-disabled {
  opacity: 0.5;
  cursor: default;
}
.md-open-menu-container md-menu-content .ci-lang-disabled .md-caption {
  font-size: 7px;
  text-align: right;
  width: 98%;
  line-height: 1.3;
  white-space: nowrap;
  margin-top: 0;
}
@media (min-width: 960px) {
  .ci-card:hover .ci-card-image-container .ci-card-image,
  .ci-card:hover .ci-card-image-container .ci-card-image-text-overlay {
    transform: scale(1.03);
  }
}
.swiper-container a.md-subhead {
  display: inline-block;
}
.swiper-container .ci-swiper-buttons {
  height: 34px;
  position: absolute;
  left: 0;
  top: 0;
}
.swiper-container .ci-swiper-buttons .swiper-button-next,
.swiper-container .ci-swiper-buttons .swiper-button-prev {
  position: relative;
  left: auto;
  right: auto;
  color: #000;
  margin-top: -17px;
  height: 34px;
  line-height: 34px;
  width: 24px;
  font-size: 50px;
  display: inline-block !important;
}
.swiper-container .ci-swiper-buttons .swiper-button-next.swiper-button-disabled,
.swiper-container
  .ci-swiper-buttons
  .swiper-button-prev.swiper-button-disabled {
  opacity: 0.2;
}
.swiper-container .ci-swiper-buttons .swiper-button-next::after,
.swiper-container .ci-swiper-buttons .swiper-button-prev::after {
  display: none;
}
.swiper-container .ci-swiper-buttons .swiper-button-prev {
  margin-right: 27px;
}
.swiper-container figure {
  position: relative;
}
.swiper-container .ci-quote-title {
  margin-top: 32px;
  margin-bottom: 16px;
  position: relative;
}
@media (min-width: 960px) {
  .swiper-container .ci-quote-title {
    margin-top: 44px;
    margin-bottom: 24px;
  }
  .swiper-container .ci-quote-title.ci-quote-title-margin {
    margin-top: 111px;
  }
}
.swiper-container .ci-quote-sign {
  display: block;
  color: #f7c224;
  position: absolute;
  top: -32px;
}
@media (min-width: 600px) {
  .swiper-container .ci-quote-sign {
    top: -50px;
  }
}
@media (min-width: 960px) {
  .swiper-container .ci-quote-sign {
    top: -60px;
  }
}
.ci-quotes .ci-swiper-buttons {
  right: 0;
  left: unset;
}
@media (min-width: 960px) {
  .ci-quotes .ci-swiper-buttons {
    left: 0;
    right: unset;
  }
}
.ci-photoswipe-hero-scroller .ci-photoswipe-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ci-photoswipe-hero-scroller .ci-photoswipe-photo .pg-background {
  width: 100%;
  height: 100%;
}
.ci-photoswipe-hero-scroller .ci-photoswipe-hero-width {
  position: relative;
  cursor: pointer;
}
.ci-photoswipe-hero {
  position: relative;
}
.ci-photoswipe-hero .md-button.md-raised {
  position: absolute;
  right: 8px;
  bottom: 8px;
}
.app-footer {
  position: relative;
  color: #3d3935;
}
.app-footer .pg-container {
  max-width: unset !important;
}
.app-footer .pg-slide {
  padding: 40px 0;
}
@media (min-width: 960px) {
  .app-footer .pg-slide {
    padding: 80px 0;
  }
}
.app-footer .ci-footer-bottom {
  padding-top: 20px;
}
@media (min-width: 960px) {
  .app-footer .ci-footer-bottom {
    padding-top: 40px;
  }
}
.app-footer p {
  line-height: 2;
}
.app-footer a {
  text-decoration: none;
}
.app-footer a:hover {
  text-decoration: underline;
}
@media (max-width: 599px) {
  .app-footer .md-title {
    margin: 25px 0 0 !important;
  }
}
@media (min-width: 600px) {
  .app-footer .md-title {
    margin: 25px 0 !important;
  }
}
@media (min-width: 600px) and (max-width: 959px) {
  .app-footer .md-title {
    margin: 25px 0 6px !important;
  }
}
.app-footer .ci-logo {
  background-image: url("_package/ci/bootstrap/assets/logo-inverse.svg");
}
.app-footer .ci-footer-lighten-text {
  opacity: 0.5;
}
.app-footer .ci-socials a md-icon {
  margin-right: 8px;
}
.app-footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: 0;
  background-image: url("./_package/ci/header/assets/gradient.svg");
  background-size: 110%;
  left: 0;
  right: 0;
  background-position: bottom;
}
@media (min-width: 960px) {
  .app-footer::after {
    height: 5px;
  }
}
.app-header {
  transition: all 0.15s ease-out;
}
@media (min-width: 960px) {
  .app-header {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
.app-header.ci-header-scrolled {
  height: 90px;
  background: #f9f9f7;
}
.app-header.ci-header-scrolled a:not(.md-button),
.app-header.ci-header-scrolled .ci-lang-flag-ov .md-body-2,
.app-header.ci-header-scrolled .md-button.md-raised.ci-button-glass {
  color: #000;
}
.app-header.ci-header-scrolled
  .md-button.md-raised.ci-button-glass.ci-button-disabled {
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.5);
}
.app-header.ci-header-scrolled .ci-logo {
  background-image: url("_package/ci/bootstrap/assets/logo-inverse.svg");
}
.ci-hero .ci-hero-background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}
.ci-hero .ci-hero-background .ci-hero-background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.ci-hero::before,
.ci-hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ci-hero::before {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 16%
  );
}
.ci-hero::after {
  background: rgba(0, 0, 0, 0.2);
}
.pg-layer.account .account-header {
  height: 90px;
}
.md-button.ci-button-hover .ci-disclaimer-hover {
  left: -17px;
  padding: 8px;
  top: 90px;
  width: 300px;
  background-color: white;
  white-space: normal;
  line-height: 20px;
  border-radius: 10px;
  transition: opacity 0.15s ease-in-out;
  box-shadow: 0 13px 64px -20px #000;
}
.md-button.ci-button-hover .ci-disclaimer-hover small {
  opacity: 0.7;
}
.md-button.ci-button-hover:hover .ci-disclaimer-hover {
  opacity: 1;
}
.state-app-location .pg-main {
  padding-bottom: 95px;
}
@media (min-width: 600px) and (max-width: 959px) {
  .state-app-location .pg-main {
    padding-bottom: 95px;
  }
}
@media (min-width: 960px) {
  .state-app-location .pg-main {
    padding-bottom: 0;
  }
}
.ci-information-box {
  box-shadow: 0 13px 64px -20px rgba(0, 0, 0, 0.1);
}
.ci-studio-bottom {
  z-index: 30;
  box-shadow: 0px -10px 10px 0 rgba(0, 0, 0, 0.1);
}
.st-youtube {
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.04),
    0px 1px 1px 0px rgba(0, 0, 0, 0.025), 0px 2px 1px -1px rgba(0, 0, 0, 0.02);
  overflow: hidden;
}
.st-youtube > iframe {
  height: 100%;
}
.state-detail-studio-detail
  .md-button.ci-button-hover:hover
  .ci-disclaimer-hover {
  opacity: 1 !important;
}
.state-detail-studio-detail .pg-main {
  padding-bottom: 95px;
}
@media (min-width: 600px) and (max-width: 959px) {
  .state-detail-studio-detail .pg-main {
    padding-bottom: 95px;
  }
}
@media (min-width: 960px) {
  .state-detail-studio-detail .pg-main {
    padding-bottom: 0;
  }
}
.state-detail-studio-detail .ci-studio-information,
.state-detail-studio-detail .ci-studio-bottom {
  box-shadow: 0px 13px 64px -20px rgba(0, 0, 0, 0.1);
}
.state-detail-studio-detail .ci-studio-bottom {
  box-shadow: 0px -10px 10px 0 rgba(0, 0, 0, 0.1);
}
.ci-button-hover-mobile:hover .ci-disclaimer-hover-mobile {
  opacity: 1 !important;
}
